body {
  margin: 0 auto;
  font-family: "Inconsolata", monospace;
  color: #abb2bf;
  background: #e8ecf4;
}

button {
  font-family: "Inconsolata", monospace;
  color: #f7f7f7;
  background-color: #727d93;
  height: 35px;
  border: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #9ca4b3;
}

button:focus {
  outline: none;
}

.page-container {
  background: transparent;
  padding: 16px;
  display: grid;
  grid-gap: 16px;
}

.search-container > input {
  font-family: "Inconsolata", monospace;
  color: #abb2bf;
  border: transparent;
  background: #c8ccd3;
  color: #2b2b2b;
  font-size: 18px;
  border-radius: 4px;
  width: 175px;
  height: 35px;
  margin-right: 4px;
}

.data-container {
  overflow: hidden;
  overflow-y: scroll;
}

.row-container {
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fit, 50%);
}

.row-container > a {
  text-decoration: none;
  color: inherit;
}

.row {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 16px;
  background-color: #fdfdfd;
  box-shadow: 4px 6px 14px 6px rgba(0, 0, 0, 0.15);
  transition: transform .25s;
}

.row:hover {
  transform: scale(1.05);
}

.row > img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.row:hover {
  cursor: pointer;
}

.row-info {
  display: grid;
  text-align: center;
}

.gif-id-container {
  padding: 8px;
}

.gif-id-container:hover {
  color: #888e98;
}

@media screen and (min-width: 768px) {
  .row-container {
    grid-template-columns: repeat(auto-fit, 22.5%);
  }
}
