body {
  margin: 0 auto;
  font-family: "Inconsolata", monospace;
  transition: background 0.5s;
}

button {
  padding: 2px 4px;
  font-family: "Inconsolata", monospace;
  color: #eee;
  background-color: #727d93;
  height: 35px;
  border: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #9ca4b3;
}

button:focus {
  outline: none;
}

input {
  padding: 0px 4px;
  font-family: "Inconsolata", monospace;
  color: #abb2bf;
  border: none;
  outline: none;
  background: #c8ccd3;
  color: #2b2b2b;
  font-size: 18px;
  border-radius: 4px;
  width: 175px;
  height: 35px;
  margin-right: 4px;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.page-container {
  background: transparent;
  padding: 16px;
  height: 100vh;
  margin: 0;
  transition: background 0.5s;
}

.search-container {
  margin: 8px 0px;
}

.data-container {
  overflow: hidden;
  overflow-y: scroll;
}

.rows-container {
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-gap: 5%;
  grid-template-columns: repeat(auto-fit, 45%);
}

.card-wrapper {
  max-width: 100%;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 4px 6px 14px 6px rgba(0, 0, 0, 0.15);
  transition: all 0.25s;
}

.card-wrapper > a {
  text-decoration: none;
  color: inherit;
}

.hover:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.row-container {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;
}

.row-info {
  display: grid;
  text-align: center;
}

.gif-id-container {
  padding: 8px;
}

.gif-id-container:hover {
  color: #888e98;
}

.details-container {
  display: grid;
  grid-auto-flow: row;
}

@media screen and (min-width: 768px) {
  .rows-container {
    grid-template-columns: repeat(auto-fit, 25%);
  }
}
