body {
  margin: 0 auto;
  font-family: "Inconsolata", monospace;
  color: rgb(171, 178, 191);
  background: #e8ecf4;
}

.page-container {
  background: transparent;
  padding: 16px;
}

.search-container {
  position: fixed;
  background-color: transparent;
}

.search-container > input {
  font-family: "Inconsolata", monospace;
  color: rgb(171, 178, 191);
  border: transparent;
  background: #c8ccd3;
  color: rgb(43, 43, 43);
  font-size: 18px;
  border-radius: 4px;
  width: 175px;
  height: 35px;
  margin: 0 4px;
}

.search-container > button {
  font-family: "Inconsolata", monospace;
  color: rgb(43, 43, 43);
  height: 35px;
  border: none;
  font-size: 18px;
  border-radius: 4px;
}

.data-container {
  overflow: hidden;
  overflow-y: scroll;
  min-height: 400px;
  max-height: 400px;
}

.row-container {
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fit, 50%);
}

.row {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 16px;
  background-color: #fdfdfd;
  box-shadow: 4px 6px 14px 6px rgba(0, 0, 0, 0.15);
}

.row > img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.row:hover {
  cursor: pointer;
}

.row-info {
  display: grid;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .row-container {
    grid-template-columns: repeat(auto-fit, 22.5%);
  }
}
